.row{
    padding: 10px;
}
div{
    background-color:#012340;
    text-align: center;
}
 
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 25%;
    margin-left: 10px;
}

/*estilo foto de perfil*/
@media(min-width: 576px){
    #fotoDePerfil{
        border-radius: 100%;
        box-shadow: 3px 3px 3px #f2ceae;
    }

    .descripcion{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
@media(max-width: 576px){
    #fotoDePerfil{
        position: absolute;
        width: 25%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px #f2ceae;
        top: 890px;
        right: 170px;
    }
}

p,h1,h2{
    color: #F2CEAE;
}