       <div class="row">
        <div class="container">
                <div class="logo">
                        <img src="../../../assets/APLogo-20-20.png" id="logoAP">
                </div>
                <div class="redes">
                        <a href="https://www.facebook.com/faku.jacob/" target="_blank"> <img src="../../../assets/LogoFacebook.png" alt=""></a>
                        <a href="https://www.instagram.com/facujacob.8/" target="_blank"> <img src="../../../assets/LogoInstagram.png" alt=""></a>
                        <a href="https://github.com/Faku159" target="_blank"> <img src="../../../assets/LogoGitHub.png" alt=""></a>
                        <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                        <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>

                </div>
        </div>
       </div>
       

